* {
         box-sizing: border-box;
      }

      body {
         padding:0;
         margin:0;
         background-color: #dddddd;
      }

      div.header {
         font-family: 'Oxygen', sans-serif;
         color: white;
         font-size: 30px;
         position: absolute;
         white-space: nowrap;
         overflow: hidden;
         margin-left: 60%;

      }

      header {
         background-color: #363633;
         width: 100%;
         position: relative;
         height: 10%;
         border-bottom: solid;
         border-color: #be442c;
      }

      h1 {
         display: inline-block;
      }

      div.img {
         margin: 0;
         padding: 0;
         position: relative;
      }


      div.img:hover {
         filter: grayscale(100%);
      }


      div.middle {
         text-align: center;
         position: absolute;
         font-family: 'Oxygen', sans-serif;
         margin-top: 1%;
         margin-bottom: 1%;
         background-color: #dddddd;
         padding-bottom: 4%;
      }

      div.paragraph {
         background-color: white;
         width: 85%;
         text-align: left;
         margin-left: 7.5%;
         padding: 3%;
         padding-top: 3%;
         position: relative;
         font-family: 'Open Sans', sans-serif;
      }

      div.p1 {
         margin-top: 1%;
      }

      div.p2 {
         margin-top: 1%;
      }

      div.p3 {
         margin-top: 1%;
      }

      div.p4 {
         margin-top: 1%;
         margin-bottom: 1%;
      }
